<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buzygo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="business_nav">
        <nav class="navbar navbar-expand-lg navbar-light" style="overflow-x: hidden;">
            <a href="/"><img src="/images/logo.png" alt="" width="45" height="65"></a>
        </nav>
    </div>
    <div id="business_header" class="p-5">
        <div class="row mt-5 mb-5">
            <div class="col-md-6 p-5">
                <h2 class="text-center"><b>Lorem Ipsum</b></h2>
            </div>
            <div class="col-md-6">
                <div class="card mx-auto d-block" style="width: 90%;">
                    <div class="card-header pt-3" style="background-color: #4F4F4F;">
                        <h4><b>Business Login</b></h4>
                    </div>
                    <div class="p-3">
                        <form action="">
                            <input type="email" name="email" class="form-control mt-3" placeholder="Email" id="">
                            <input type="password" name="password" class="form-control mt-3" placeholder="Password">
                            <button class="btn btn-primary mt-4" style="border-radius: 20px;">Login in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="features">
        <div class="mt-4 container">
            <h1 class="text-center"><u>How can we help you?</u></h1>
            <div class="mt-5">
                <h4>Buzygo is a social commerce platform that helps retail outlets to enhance customer support and
                    experience for free in the location of the store.
                </h4>
            </div>
            <div class="pb-5">
                <div class="row mt-5">
                    <div class="col-md-7" id="laptop">
                        <div>
                            <img src="/images/business_first_row_content.png" width="100%" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 my-auto">
                        <img src="/images/business_first_row_img.png" class="mx-auto my-auto d-block" alt="">
                    </div>
                    <div class="col-md-7" id="mobile">
                        <div>
                            <img src="/images/business_first_row_content.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-5 my-auto">
                        <img src="/images/business_second_row_img.png" class="mx-auto my-auto d-block" alt="">
                    </div>
                    <div class="col-md-7">
                        <div>
                            <img src="/images/business_second_row_content.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-md-7" id="laptop">
                        <div>
                            <img src="/images/business_third_row_content.png" width="100%" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 my-auto">
                        <img src="/images/business_third_row_img.png" class="mx-auto my-auto d-block" alt="">
                    </div>
                    <div class="col-md-7" id="mobile">
                        <div>
                            <img src="/images/business_third_row_content.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="HIW">
        <div class="container pt-5 pb-5">
            <h1 class="text-center"><u>How it works?</u></h1>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="row">
                        <img src="/images/HIW_11.png" class="mx-auto d-block" width="90%" alt="">
                    </div>
                    <div class="row mt-4">
                        <img src="/images/HIW_12.png" class="mx-auto d-block" width="90%" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <img src="/images/HIW_21.png" class="mx-auto d-block" width="90%" alt="">
                    </div>
                    <div class="row mt-4">
                        <img src="/images/HIW_22.png" class="mx-auto d-block" width="90%" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <img src="/images/HIW_31.png" class="mx-auto d-block" width="90%" alt="">
                    </div>
                    <div class="row mt-4">
                        <img src="/images/HIW_32.png" class="mx-auto d-block" width="90%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-footer">
        <div class="container pt-5 pb-5">
            <div class="card" style="width: 18rem;">
                <div class="card-header pt-3">
                    <h4><b>Contact Us</b></h4>
                </div>
                <div class="p-3">
                    <form action="">
                        <input type="text" name="name" class="form-control" placeholder="Name" id="">
                        <input type="tel" name="phone" class="form-control mt-3" pattern="[0-9]{10}" placeholder="Phone"
                            id="">
                        <input type="email" name="email" class="form-control mt-3" placeholder="Email" id="">
                        <textarea name="message" placeholder="Message" id="" class="form-control mt-3"></textarea>
                        <button class="btn btn-primary mt-4 mx-auto d-block pr-4 pl-4"
                            style="border-radius: 20px;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="pt-4 pb-3">
        <div class="container form-inline">
            <img src="/images/logo.png" alt="" width="45" height="65">
            <div class="ml-auto d-block form-inline">
                <img src="/images/dummy_social.png" alt="" height="50px" width="50px">
                <img src="/images/dummy_social.png" alt="" height="50px" width="50px">
                <img src="/images/dummy_social.png" alt="" height="50px" width="50px">
                <img src="/images/dummy_social.png" alt="" height="50px" width="50px">
            </div>
        </div>
        <div class="container mt-3">
            <div class="row footer_bottom">
                <div class="col-md-3">Privacy Policy</div>
                <div class="col-md-3">About us</div>
                <div class="col-md-3">Terms and Conditions</div>
                <div class="col-md-3">Buzygo Business</div>
            </div>
        </div>
    </div>
</body>

</html>