<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156340726-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-156340726-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Connect with branded stores, find offers, interact with branded stores for product information, suggestions, reservations and queries and know what the store has for you.">
    <meta name="keywords"
        content="Connect with branded stores, find offers, interact with branded stores for product information, suggestions, reservations and queries and know what the store has for you.">
    <title>Buzygo - Branded stores as Friends </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body onload="myFunction()">
    @if(messages.success)
    <script>
        function myFunction() {
            swal({
                title: "Received your request, will get back to you ASAP 😊",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif

    @if(messages.fail)
    <script>
        function myFunction() {
            swal({
                title: "Failed to submit contact form please try again later.",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    <div id="header" style="overflow-x: hidden;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="/"><img src="/images/logo.png" alt="" width="65" height="65"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" style="font-size:24px;color:white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-3 mr-3">
                        <a class="nav-link" href="/business#features">Features</a>
                    </li>
                    <li class="nav-item ml-3 mr-3">
                        <a class="nav-link" href="/business#HIW">How it Works?</a>
                    </li>
                    <li class="nav-item ml-3 mr-3">
                        <a class="nav-link" href="#contact-footer">Contact Us</a>
                    </li>
                    <li class="nav-item ml-3 mr-3">
                        <a class="nav-link btn btn-primary" style="border-radius: 20px;" href="/business">Buzygo
                            Business</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row p-5">
            <div class="col-md-7">
                <img src="/images/header_illu.png" alt="" width="90%" height="90%">
            </div>
            <div class="col-md-5">
                <img src="/images/msg_blue.png" class="mt-5" alt="" width="100%">
                <img src="/images/msg_pink.png" class="mt-5" alt="" width="100%">
            </div>
        </div>
    </div>
    <div id="features">
        <div class="mt-4 container">
            <h1 class="text-center"><u>What can we do?</u></h1>
            <div class="pb-5">
                <div class="row mt-5">
                    <div class="col-md-5">
                        <img src="/images/first_row_img.png" width="100%" alt="">
                    </div>
                    <div class="col-md-7 ml- my-auto">
                        <div class="my-auto">
                            <img src="/images/first_row_content.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-7 my-auto" id="laptop">
                        <div class="my-auto">
                            <img src="/images/second_row_content.png" width="100%" alt="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="/images/second_row_img.png" width="100%" alt="">
                    </div>
                    <div class="col-md-7 my-auto" id="mobile">
                        <div class="my-auto">
                            <img src="/images/second_row_content.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3 pb-5 bg_white">
        <img src="/images/shopping_illu.png" alt="" width="100%" class="mt-3 mb-5">
    </div>
    <div class="container mt-4">
        <h2 class="text-center"><u>Coming soon on</u></h2>
        <div class="row pt-5 pb-5">
            <div class="col-md-6">
                <img src="/images/play_store.png" class="mx-auto d-block" alt="">
            </div>
            <div class="col-md-6">
                <img src="/images/app_store.png" class="mx-auto d-block" alt="">
            </div>
        </div>
    </div>
    <div class="bg_white pb-5 pt-3">
        <h1 class="text-center d-none d-sm-block"><u>Are you a business? Visit</u></h1>
        <h3 class="text-center d-block d-sm-none"><u>Are you a business? Visit</u></h3>
        <a href="/business"><button class="mt-4 btn btn-primary p-3 mx-auto d-block pl-2 pr-2"
                style="border-radius: 20px;">Buzygo
                Business</button></a>
    </div>
    <div id="contact-footer">
        <div class="container pt-5 pb-5">
            <div class="card border-0" style="width: 18rem;">
                <div class="card-header pt-3">
                    <h4><b>Contact Us</b></h4>
                </div>
                <div class="p-3">
                    <form action="/submit" method="POST" enctype="multipart/form-data">
                        <input type="text" name="name" class="form-control" placeholder="Name" id="">
                        <input type="tel" name="phone" class="form-control mt-3" pattern="[0-9]{10}" placeholder="Phone"
                            id="">
                        <input type="email" name="email" class="form-control mt-3" placeholder="Email" id="">
                        <textarea name="message" placeholder="Message" id="" class="form-control mt-3"></textarea>
                        <button type="submit" class="btn btn-primary mt-4 mx-auto d-block pr-4 pl-4"
                            style="border-radius: 20px;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="pt-4 pb-3">
        <div class="container form-inline">
            <img src="/images/logo.png" alt="" width="65" height="65">
            <div class="ml-auto d-block form-inline">
                <a target="_blank"
                    href="https://www.facebook.com/Buzygo-103409168063853/?business_id=646781072541917"><img
                        src="/images/fb.png" alt="" height="50px" width="50px"> </a>
                <a target="_blank" href="https://www.instagram.com/buzygo/?hl=en"><img src="/images/insta.png" alt=""
                        height="50px" width="50px"></a>
                <a target="_blank" href="https://www.linkedin.com/company/buzygo"><img src="/images/linkedin.png" alt="" height="50px"
                        width="50px">
                </a>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row footer_bottom">
                <div class="col-md-3"><a target="_blank" href="/docs/Buzygo Privacy Policy.pdf"
                        style="color:white">Privacy Policy</a>
                </div>
                <div class="col-md-3"><a target="_blank" href="/docs/Buzygo About Us.pdf" style="color:white">About
                        us</a>
                </div>
                <div class="col-md-3"><a target="_blank" href="/docs/Buzygo Terms and Conditions Users.pdf"
                        style="color:white">Terms
                        and Conditions</a>
                </div>
                <div class="col-md-3"><a href="/business" style="color:white">Buzygo Business</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>